<h1>Your Record Collection: </h1>
<% if @records.empty? %>
	<h2> You have no records in your collection! Click <%= link_to "here", new_record_path %> to add some. </h2>
<% else %>
	<table>
		<%@records.each do |r| %>
			<tr>
				<td>
					<% if r.art.attached? %>
						<%=image_tag(r.art, size: "80") %>
					<% else %>
						Album art missing
					<% end %>
				</td>
				<td>
					<ul>
						<li>Artist: <%= link_to r.artist, artist_path(r.artist) %> </li> 
						<li> Album Title: <%=r.title %> </li> 
						<li> Album Year: <%=r.year %> </li>
						<li> Album Condition: <%=r.condition %> </li>
					</ul>
				</td>
				<td>
					<ul>
						<li> <%= link_to "View Detail", record_path(r) %> </li>
						<li> <%=link_to "Edit Record", edit_record_path(r) %> </li>
						<li> <%=link_to "Remove Record", record_path(r), method: :delete %> </li>
					</ul>
				</td>
			</tr>
		<% end %>
	</table>
	<%= link_to "Add New Record", new_record_path, class: "add-button" %>
<% end %>