<div class="header">
    <h1 class="logo">Groove</h1>
    <div class="nav">
	    <% if user_signed_in? %>
	    	<ul>
		    	<li> Logged in as <strong><%= current_user.username %></strong> </li>
			    <li> <%= link_to 'Edit profile', edit_user_registration_path%> </li>
			    <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
			</ul>
		<% else %>
			<ul>
		    	<li> <%= link_to "Sign up", new_user_registration_path %> </li>
		    	<li> <%= link_to "Login", new_user_session_path %></li>
		    </ul>
		<% end %>
	</div>
</div>